<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">

{% include head.html %}

<header class="site-header">
  <h1 class="site-title">
    <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  </h1>

  {% if site.navigation %}
    <nav class="site-nav">
      <ul>
        {% for item in site.navigation %}
          <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
</header>

{{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
